/* Bu kod, temanın varsayılan avatar boyutunu ezer */

#sidebar {
  #avatar1 {
    /* Genişlik ve yükseklik değerlerini buradan artırabilirsiniz */
    width: 9rem !important; /* Orijinali 7rem idi */
    height: 400px !important;
  }
}

/* Mobildeki (üst bar) avatar boyutu için */
#topbar-wrapper {
  #avatar1 {
    width: 3rem !important; /* Orijinali 2rem olabilir */
    height: 3rem !important;
  }
}
