@import "minima";

body {
    background-color: #1a1a1a; /* Koyu gri arka plan */
    color: #e0e0e0; /* Açık gri yazı rengi */
  }
  
  /* Link renklerini de uyumlu yapalım */
  a {
    color: #64ffda; /* Açık turkuaz linkler */
  }
  
  /* Başlık renklerini beyaz yapalım */
  h1, h2, h3, h4 {
    color: #ffffff;
  }

